.body {
  background: whitesmoke;
}

.container {
  padding: 15px 40px;
}

.hide {
  display: none;
}

.cleanTable {
  background: white;
  border: 1px solid darkgrey;
}

.cleanTable th {
  background: darkgrey;
  color: white;
}

.cleanTable td {
  padding: 10px 15px;
}

.cleanTable tr:nth-child(even) {
  background: whitesmoke;
}